body {
    font-family: sans-serif;
}

.container {
    display: flex;
    /* height: 100%; */

}

.container__left {
    width: 50%;
    height: 100vh;
    background-image: url('/jpg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 1rem;
    /* position: relative; */


}

.title{
    color:black;
    text-transform:uppercase;
    font-size: 2rem;
    width: 250px;
    display: flex;
    align-items: flex-start;
}
.title__text {
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  }
  
  .title__img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  
.intro {
    /* rgba : le a = l'alpha = la transparence. entre 0 et 1 */
    background-color: rgba(170, 170, 170, 0.5);
    color: white;
    padding: 1.5rem 1rem 1.5rem 5rem;
    text-align: right;
}
.intro__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.intro__subtitle {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
}
.intro__desc {
    line-height: 1.2rem;
}
.bottom-links {
    color: white;
    text-align: right;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    cursor: pointer;
    /* position: absolute;
    bottom:0.5rem ;
    right:1rem ; */
}
/* fin section left articles*/
/* Section right articles*/
.container__right {
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    
}

.news--title {
    font-weight: bold;
    font-size: 1.8rem;
    padding:1.5rem 1rem;
    background-color: #f9f9f9;
}

.articles {
    
    display: flex;
    /* autorise le retour a la ligne des éléments qui dépassent */
    flex-wrap: wrap;
    border-bottom: 1px solid #eaeaea;
}

.article {
    background-color: white;
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-left: none;
    border-bottom: none;
    /* nos items prennent 50% de la largeur du parent. */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article__category {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.8rem;
    text-align: center;

    
}

.article__category--maintenance {
    background-color: #98DC62;
    width: 30%;
}

.article__category--news {
    background-color: #0766F0;
    width: 30%;
}

.article__category--favourite {
    background-color: #DC5E53;
    width: 30%;
}

.article__title {
    font-weight: bold;
    font-size: 1.6rem;

}

.article__info {}

.article__info__picture {
    width: 25px;
    height: 25px;
    vertical-align: middle;

}

.article__info__author {
    font-weight: bold;
    font-size: 0.8rem;
}

.article__info__date {
    color: lightgrey;
    font-size: 0.8rem;
}

.article__content {}

.article__read {
    font-weight: bold;
    color:#007bff;
    text-decoration: underline ;
    cursor: pointer;
}

/* fin section right articles*/